.contact-wrapper {
  text-align: center;
}

.contact-title {
  padding: 2em;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper form {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.form-wrapper textarea {
  width: 100%;
}

.form-wrapper input {
  width: 25em;
}

.feedback-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pair {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.submit {
  justify-self: center;
  align-self: center;
  background: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 1em;
}

.submit:hover {
  background: white;
  color: black;
}