.contact-wrapper {
  text-align: center;
}

.contact-title {
  padding: 2em;
}

.form-wrapper {
  display: flex;
  justify-content: center;
}

.form-wrapper form {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.form-wrapper textarea {
  width: 100%;
}

.form-wrapper input {
  width: 25em;
}

.submit-button {
  border: 1px solid var(--main-color-text);
  background: transparent;
  font-size: 1.1rem;
  padding: 1em;
  margin: 2em;
  justify-self: flex-end;
  color: var(--main-color-text);
  border-radius: 15px;
}