.skills-wrapper {
  width: 60vw;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

.skill {
  margin: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background: gray;
}

.skill img {
  width: 6em;
}

.portfolio-wrapper {
  width: 95vw;
  margin: auto;
}