.header {
  background: var(--main-color-cta);
  height: 10vh;
  width: 100%;
  position: sticky;

  box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.75);
}

.inner-header-wrapper {
  height: 100%;
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .name {
  font-size: 1.3rem;
  font-weight: 800;
}

.header .options-wrapper {
  display: flex;
  justify-content: center;
  gap: 5em;
}